/*------------------------------------------------------------------
Last change:    26/01/22 [fixed Float bug, vf]

-------------------------------------------------------------------*/
/* css variables */
/* @import url(../css/partials/_header&footer.css); */
/*------------------------------------------------------------------
[Table of contents]

  01. Theme Default Css


  -------------------------------------------------------------------*/


/*
==========================================
   01. Theme Default CSS
==========================================
*/

/* CSS Variables */

:root {
    --ligt-blue-color:#CCE5FF;
    --s-primary-color:#312783;;
    --s-blue-color: #007FFF;
    --title-color: #141313;
    --white:#fff;
    --text-color: #000000;
    --light-b-color: #5F5757;
    --yellow-color: #FFDA55;
    --btn-color:#312783;
    --paragraph-color:#282626;
    --border-color: #201f1f17;
    --back-bg:#E5E5E5;
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    --input-bg:#CCE5FF;
}


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

input,
select,
textarea {
    outline: none;
    border: none;
}

a,
i,
button,
img,
input {
    transition: all 0.3s ease 0s;
    border: none;
}


*::after, *::before{
  transition: all 0.3s ease 0s !important;
  border: none;
}

.btn:focus {
    outline: none !important;
    box-shadow: none;
}

button:focus {
    outline: none;
}

*:focus {
    outline: none;
}

.form-control:focus {
    border: 1px solid transparent;
    outline: none;
    box-shadow:none;
}

a:focus {
    color: inherit;
    outline: medium none;
    transform: scale(1);
    text-decoration: none;
}

a,
a:hover {
    text-decoration: none;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}



p,
.t-14{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.75;
    color: var(--paragraph-color);
    margin-bottom: 0;
}
.box_shadow{
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}


/*Defalt Margin and padding*/

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-55 {
    margin-top: 55px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-65 {
    margin-top: 65px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-75 {
    margin-top: 75;
}

.mt-80 {
    margin-top: 80px;
}

.mt-85 {
    margin-top: 85px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-95 {
    margin-top: 95px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-105 {
    margin-top: 105px;
}

.mt-110 {
    margin-top: 110px;
}

.mt-115 {
    margin-top: 115px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-125 {
    margin-top: 125px;
}

.mt-130 {
    margin-top: 130px;
}

.mt-135 {
    margin-top: 135px;
}

.mt-140 {
    margin-top: 140px;
}

.mt-145 {
    margin-top: 145px;
}

.mt-150 {
    margin-top: 150px;
}


/*margin-bottom*/

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-55 {
    margin-bottom: 55px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-65 {
    margin-bottom: 65px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-75 {
    margin-bottom: 75;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-85 {
    margin-bottom: 85px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-95 {
    margin-bottom: 95px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-105 {
    margin-bottom: 105px;
}

.mb-110 {
    margin-bottom: 110px;
}

.mb-115 {
    margin-bottom: 115px;
}

.mb-120 {
    margin-bottom: 120px;
}

.mb-125 {
    margin-bottom: 125px;
}

.mb-130 {
    margin-bottom: 130px;
}

.mb-135 {
    margin-bottom: 135px;
}

.mb-140 {
    margin-bottom: 140px;
}

.mb-145 {
    margin-bottom: 145px;
}

.mb-150 {
    margin-bottom: 150px;
}


/*padding -top*/

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-35 {
    padding-top: 35px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-55 {
    padding-top: 55px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-65 {
    padding-top: 65px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-75 {
    padding-top: 75;
}

.pt-80 {
    padding-top: 80px;
}

.pt-85 {
    padding-top: 85px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-95 {
    padding-top: 95px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-105 {
    padding-top: 105px;
}

.pt-110 {
    padding-top: 110px;
}

.pt-115 {
    padding-top: 115px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-125 {
    padding-top: 125px;
}

.pt-130 {
    padding-top: 130px;
}

.pt-135 {
    padding-top: 135px;
}

.pt-140 {
    padding-top: 140px;
}

.pt-145 {
    padding-top: 145px;
}

.pt-150 {
    padding-top: 150px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
     padding-left: 20px;
}

.pl-25 {
    padding-left: 25px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-35 {
    padding-left: 35px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-45 {
    padding-left: 45px;
}

.pl-50 {
    padding-left: 50px;
}

.pl-55 {
    padding-left: 55px;
}

.pl-60 {
    padding-left: 60px;
}

.pl-65 {
    padding-left: 65px;
}

.pl-70 {
    padding-left: 70px;
}

.pl-75 {
    padding-left: 75;
}

.pl-80 {
    padding-left: 80px;
}

.pl-85 {
    padding-left: 85px;
}

.pl-90 {
    padding-left: 90px;
}

.pl-95 {
    padding-left: 95px;
}

.pl-100 {
    padding-left: 100px;
}

.pl-105 {
    padding-left: 105px;
}

.pl-110 {
    padding-left: 110px;
}

.pl-115 {
    padding-left: 115px;
}

.pl-120 {
    padding-left: 120px;
}

.pl-125 {
    padding-left: 125px;
}

.pl-130 {
    padding-left: 130px;
}

.pl-135 {
    padding-left: 135px;
}

.pl-140 {
    padding-left: 140px;
}

.pl-145 {
    padding-left: 145px;
}

.pl-150 {
    padding-left: 150px;
}




.pl-20 {
    padding-left: 20px;
}

.pl-25 {
    padding-left: 25px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-35 {
    padding-left: 35px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-45 {
    padding-left: 45px;
}

.pl-50 {
    padding-left: 50px;
}

.pl-55 {
    padding-left: 55px;
}

.pl-60 {
    padding-left: 60px;
}

.pl-65 {
    padding-left: 65px;
}

.pl-70 {
    padding-left: 70px;
}

.pl-75 {
    padding-left: 75;
}

.pl-80 {
    padding-left: 80px;
}

.pl-85 {
    padding-left: 85px;
}

.pl-90 {
    padding-left: 90px;
}

.pl-95 {
    padding-left: 95px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-30 {
    padding-right: 30px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-25 {
    padding-right: 25px;
}


.pr-110 {
    padding-right: 110px;
}

.pr-115 {
    padding-right: 115px;
}

.pr-120 {
    padding-right: 120px;
}

.pr-125 {
    padding-right: 125px;
}

.pr-130 {
    padding-right: 130px;
}

.pr-135 {
    padding-right: 135px;
}

.pr-140 {
    padding-right: 140px;
}

.pr-145 {
    padding-right: 145px;
}

.pr-150 {
    padding-right: 150px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-55 {
    padding-bottom: 55px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-65 {
    padding-bottom: 65px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-75 {
    padding-bottom: 75;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-85 {
    padding-bottom: 85px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-95 {
    padding-bottom: 95px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-105 {
    padding-bottom: 105px;
}

.pb-110 {
    padding-bottom: 110px;
}

.pb-115 {
    padding-bottom: 115px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-125 {
    padding-bottom: 125px;
}

.pb-130 {
    padding-bottom: 130px;
}

.pb-135 {
    padding-bottom: 135px;
}

.pb-140 {
    padding-bottom: 140px;
}

.pb-145 {
    padding-bottom: 145px;
}

.pb-150 {
    padding-bottom: 150px;
}
.p-35{
    padding: 35px;
}
.underline {
    text-decoration: underline;
}
.f-left{
    float: left;
}
.f-right {
    float: right;
}
.fix{
    overflow: hidden;
}
.text-black{
    color: #000000;
}

/* font size */

.t24 {
   font-weight: 500;
   font-size: 23px;
   line-height: 29px;
    color: #000000
}
.sell-b .title,
.t18 {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #000000;
}

.t16 {
    font-size: 16px;
    line-height: 1.6;
}

.t15 {
    font-size: 15px;
    line-height: 1.5;
}
.t26 {
    font-weight: 600;
    font-size: 26px;
    color: #000000;
    padding-bottom: 15px;
}
a.t14 {
    text-decoration: underline;
}
.t14 {
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   color: #000000;
}

.t12 {
    font-size: 12px !important;
    line-height: 15px;
    color: #000000;
}
.light-t{
    color: var(--light-b-color) !important;
}
.text-color{
    color: var(--text-color);
}

.form-control::placeholder{
    color: #000000;
}
.form-control:focus,
.form-control{
    background:#CCE5FF !important;
    border: none;
    font-size: 18px;
    color: #000000;
    padding-left: 20px;
}
.h-area {
     min-height: calc(100vh - 216px);
    z-index: 1;
    position: relative;
    background: #FCFCFC;
    padding: 40px 0px;
}
.online {
    position: relative;
}
.online::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--yellow-color);
    position: absolute;
    top: 0;
    right: 0px;
}
.bg-yellow {
    background: #FFDA55;
}

.bg-light-blue {
    background: #CCE5FF;
}
.badge-yellow {
    background: var(--yellow-color);
     border-radius: 50%;
     width: 25px;
     height: 25px;
     color: #000000;
     text-align: center;
     font-weight: 600;
     font-size: 18px;
     display: inline-block;
     margin-left: 5px;
}

.mes-seen.active {
    background: var(--yellow-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.bor-t{
   border-top: 1px solid #717171;
}
.bor-b{
   border-bottom: 1px solid #717171;
}
.blue-c{
    color: var(--s-blue-color);
}

.header-area .navbar-nav .h-icon.active,
.nav-pills button.active {
    color: #fff !important;
    background: var(--s-blue-color) !important;
}

.active {
  color:var(--s-blue-color);
}