@media (min-width: 1368px) {
    .pr-50 {
        padding-right: 50px;
    }
    .pr-100 {
        padding-right: 100px;
    }
    .hero-area h1 {
        font-size: 60px;
    }
}


/* Medium Layout: 1280px. */

@media (min-width: 992px) and (max-width: 1367px) {
    .header-area .navbar-brand>img {
        max-height: 100px;
    }
    .sell-wrapper .sell-content {
        margin-left: 100px;
    }
    .profile-wrapper .nav {
        margin-right: 15px;
    }
    .profile-info {
        margin-left: 100px;
    }
    .profile-wrapper .form-horizontal .control-group .control-label {
        text-align: right;
    }
    .message-content .message-c-title {
        padding-right: 70px;
    }
    .hero-area h1 {
        font-size: 70px;
    }
    .profile-wrapper .nav .nav-link {
        font-size: 16px;
        padding: 5px 15px;
    }
    .filter-h .filter-btn,
    .success-btn,
    .post-btn {
        padding: 5px 20px;
    }
    .search-wrapper .form-control,
    .search-wrapper .s-btn {
        height: 50px;
        font-size: 25px;
    }
    .t26 {
        font-size: 24px;
    }
    .header-area .menu>li {
        margin-right: 25px;
    }
    .vill-w-img img {
        max-width: 150px;
        margin-right: 10px;
    }
    .profile-wrapper .nav .nav-link {
        font-size: 17px;
        padding: 5px 12px;
        line-height: 1.3;
    }
    .profile-wrapper .nav {
        padding: 12px 15px;
    }
    .glad-to-h h2 {
        font-size: 27px;
        line-height: 35px;
    }
    .solved h3 {
        font-size: 24px;
    }
    .sell-wrapper .sell-content {
        margin-left: 60px;
    }
    .h-area{
        padding: 30px 0px;
    }
    .pb-20 {
        padding-bottom: 15px;
    }
    .pt-20 {
        padding-top: 15px;
    }
    .mb-20 {
        margin-bottom: 15px;
    }
    .login-t h2 {
        font-size: 30px;
        line-height: 1;
    }
    .login-wrapper >div img {
        max-width: 100px;
    }
}


/* Tablet Layout: 768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .vill-w-img img {
        max-width: 150px;
        margin-right: 10px;
    }
    .header-area .menu>li {
        margin-right: 25px;
    }
}

@media (min-width: 320px) and (max-width: 991px) {
    .header-area .menu li>a {
        font-weight: 700;
        font-size: 16px;
    }
    .header-area .navbar-brand>img {
        max-width: 200px;
        max-height: 80px;
    }
    /* font-size */
    .t26 {
        font-size: 20px;
        /* padding-bottom: 10px; */
    }
    .solved h3,
    .glad-to-h h2 {
        font-size: 20px;
        line-height: 1.5;
    }
    .glad-to-h {
        padding: 15px 15px;
    }
    .profile-wrapper .nav {
        padding: 15px 10px;
        margin-bottom: 20px;
    }
    .profile-wrapper .nav .nav-link br {
        display: none;
    }
    .profile-wrapper .nav .nav-link {
        font-weight: 500;
        font-size: 17px;
        padding: 5px 8px;
        margin-bottom: 10px;
    }
    .profile-wrapper .nav.me-3 {
        margin-right: 0px !important;
    }
    .sell-wrapper .left-arrow {
        float: none;
        margin-bottom: 20px;
    }
    .sell-wrapper .sell-content {
        margin-left: 0px;
    }
    .filter-post .message-card,
    .message-card {
        padding: 15px 13px;
        flex-direction: column;
    }
    .filter-post .message-content {
        margin-left: 0px;
        padding-left: 0px;
        /* margin-top: 20px; */
    }
    .flex-wc {
        flex-direction: column;
        min-height: auto;
        align-items: baseline;
    }
    .profile-wrapper .form-horizontal textarea.form-control,
    .profile-wrapper .form-horizontal .c-wrapper {
        width: 100%;
        margin: 0px 12px;
    }
    .review-icon i {
        margin-right: 15px;
        font-size: 25px;
    }
    .sell-b .title,
    .t18 {
        font-size: 16px;
    }
    .t24 {
        font-size: 20px;
        line-height: 25px;
    }
    .header-area .menu .h-icon,
    .chevron-icon a,
    .sell-wrapper .left-arrow a,
    .appartment-slider.owl-theme .owl-nav [class*=owl-] {
        height: 40px;
        width: 40px;
    }
    .appartment-slider.owl-theme .owl-nav [class*=owl-] {
        top: -55px;
        font-size: 17px;
    }
    .appartment-slider .owl-nav button.owl-next {
        right: 0%;
    }
    .appartment-slider .owl-nav button.owl-prev {
        left: inherit;
        right: 60px;
    }
    .read-more {
        padding-top: 10px;
    }
    .appartment-img {
        margin-bottom: 15px;
    }
    .post-main-content {
        padding-top: 20px;
        padding-bottom: 15px;
    }
    .replies-content {
        padding-top: 15px;
    }
    .sell-wrapper .reply-wr {
        padding: 13px 0px;
    }
    .reply-post-content {
        margin-top: 10px;
    }
    .pb-20 {
        padding-bottom: 15px;
    }
    .pt-20 {
        padding-top: 15px;
    }
    .mb-20 {
        margin-bottom: 15px;
    }
    .login-wrapper >div img {
        max-width: 100px;
    }
    .login-t h2 {
        font-size: 30px;
        line-height: 1;
    }
}


/* Mobile Layout: 320px. */

@media (max-width: 767px) {
    .header-area {
        position: fixed;
    }
    .h-area,
    .profile-area {
        padding-top: 100px;
        min-height: calc(100vh - 75px);
        
    }
    .header-area .navbar-toggler[aria-expanded="true"] .fa-bars {
        display: none;
    }
    .header-area .navbar-toggler[aria-expanded="false"] .fa-bars {
        display: block;
    }
    .header-area .navbar-toggler[aria-expanded="true"] .fa-times {
        display: block;
    }
    .header-area .navbar-toggler[aria-expanded="false"] .fa-times {
        display: none;
    }
    .header-area .navbar-toggler i {
        color: #000;
    }
    .header-area .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 0rem;
    }
    .header-area .menu {
        padding: 15px 0px;
    }
    .header-area .menu li:hover .sub-menu {
        display: none;
    }
    .header-area .menu li .sub-menu {
        position: relative;
        left: 10px;
        display: block;
        visibility: visible;
        opacity: 1;
        transition: all 0.2s ease-out;
        top: 0;
        padding: 0px;
    }
    .header-area .menu li .login-sub-menu.sub-menu {
        top: 2px;
    }
    .header-area .menu li .login-sub-menu,
    .header-area .menu li .living-sub-menu,
    .header-area .menu li .study-sub-menu {
        display: none;
    }
    .header-area .menu>li {
        margin-bottom: 7px;
        margin-right: 0px;
    }
    .header-area .menu li .fa-chevron-down {
        line-height: 30px;
        padding: 0px 10px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .chevron-icon a i,
    .sell-wrapper .left-arrow a i {
        font-size: 17px;
    }
    .chevron-icon a,
    .sell-wrapper .left-arrow a,
    .appartment-slider.owl-theme .owl-nav [class*=owl-] {
        height: 40px;
        width: 40px;
    }
    .sell-wrapper p {
        font-size: 14px;
        line-height: 1.5;
    }
    .sell-b .title,
    .t18 {
        font-size: 17px;
    }
    .review-icon i {
        font-size: 25px;
    }
    .comment-wr .card a>img {
        max-width: 23px;
    }
    .profile-wrapper .form-horizontal .control-group .control-label {
        margin-bottom: 10px;
    }
    .profile-wrapper .form-horizontal .control-group .control-label {
        width: 100%;
    }
    .profile-wrapper .form-horizontal textarea.form-control,
    .profile-wrapper .form-horizontal .c-wrapper {
        margin: 0px;
        margin-right: 15px;
    }
    .villa-wrapper {
        position: relative;
        width: 100%;
        padding-bottom: 5px;
    }
    /* new */
    .filter-post .message-content>.message-c-title {
        padding-top: 0px;
    }
    .message-content>.active-title {
        padding-top: 0px;
    }
    .trade-info .appartment-img {
        flex-basis: auto;
    }
    .richText .richText-editor {
        height: 150px;
        max-height: 100%;
        padding: 10px;
    }
    .richText .richText-toolbar ul li a {
        padding: 2px 7px;
    }
    .success-btn,
    .post-btn,
    .repost-p>a,
    .solved-p>a,
    .repost-p>button,
    .solved-p>button,
    .filter-h .filter-btn {
        font-size: 15px;
        padding: 8px 10px;
    }
    .search-wrapper .s-btn {
        height: 50px;
    }
    .search-wrapper .form-control {
        font-size: 20px;
        height: 50px;
        padding-left: 15px;
      
    }
    .form-control:focus, .form-control {
        font-size: 16px;
        padding-left: 15px;
    }
    
}

@media (min-width: 575px) and (max-width: 767px) {
    .vill-w-img img {
        max-width: 140px;
        margin-right: 5px;
    }
}


/* Wide Mobile Layout: 480px. */

@media (min-width: 320px) and (max-width: 575px) {
    .vill-w-img img {
        max-width: 120px;
        margin-right: 0px;
    }
    .vill-w-img {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}