.header-area {
    /* position: sticky;
    width: 100%;
    height: 100px;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99; 
     transition: 0.5s;
    */
    position: relative;
    background: #FFFFFF;
   
}

.header-area .navbar-brand>img {
    max-height: 116px;
}



/* hero-area */
.hero-area {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 216px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
}
.hero-area h1{
    font-size: 30px;
    font-weight: 700;
    color: var(--white);
}
.banner >img{
    width: 100%;
    object-fit: cover;
}

/* footer */
.footer-area{
    background: #598DC4;
    padding: 16px 0px;
     transition: .3s;
}
.footer-area:hover{
    background: #323232;
}
.footer-area .copy-right a,
.footer-area .copy-right p{
    font-family: 'Rubik',sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #F8F8F8;
}

/* search */


.search-wrapper .form-control::placeholder {
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;

}
.search-wrapper .form-control {
     font-size: 30px;
        font-weight: 600;
    height: 70px;
    color: #FFFFFF;
        background: #CCE5FF;
    border-radius: 60px !important;
    position: relative;
    padding-left: 20px;
    border: none;
}


.search-wrapper .s-btn {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    background: #007FFF;
    color: #fff;
    min-width: 150px;
    padding: 10px 25px;

}
.search-wrapper .s-btn i{
    font-size: 30px;
}
.search-wrapper .input-group-btn {
    position: absolute;
    right: 0px;
    z-index: 9;

}

/* login */
.login-t h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #007FFF;
}


.sign-in button{
     font-weight: 600;
     font-size: 24px;
     line-height: 1;
     border-radius:25px;
     background: #007FFF;
     color: #fff;
     padding: 12px 35px;
}

/* profile */
.profile-info {
    display: inline-block;
}
.profile-wrapper .nav{
    background: #CCE5FF;
    border-radius: 7px;
    padding: 24px 30px;
    margin-bottom: 20px;
}
.profile-wrapper .nav .nav-link {
    font-weight: 600;
    font-size: 18px;
    background: #FFFFFF;
    border-radius: 7px;
    text-align: center;
    color: #000000;
    padding: 5px 30px;
    margin-bottom: 20px;
    position: relative;

}
.profile-wrapper .nav .nav-link:last-child {
    margin-bottom: 0px;

}
.profile-wrapper .nav .nav-link:active{
    color: #fff;
}

.prof-img img{
    max-height: 150px;
    max-width: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}



.profile-wrapper .custom-file-upload input[type="file"] {
    display: none;
}

.profile-wrapper .custom-file-upload .custom-file-upload1 {
    cursor: pointer;
    text-decoration: underline;
}

.profile-wrapper .form-horizontal .control-group{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.profile-wrapper .form-horizontal textarea.form-control,
.profile-wrapper .form-horizontal .c-wrapper {
    min-width: 320px;
    width: 100%;
    margin: 0px 15px;
}
.profile-wrapper .form-horizontal .control-group .controls {
    display: flex;
    align-items: center;
}
.profile-wrapper .form-horizontal .control-group .control-label {
    min-width: 150px;
    text-align: left;
}
.profile-wrapper .form-horizontal textarea.form-control {
     resize: none;
}
.review-icon {
    text-align: left;
}
.review-icon i{
    color: var(--yellow-color);
    margin-right: 25px;
    font-size: 33px;
}
.review-icon i:last-child {
    margin-right: 0px;
}
/* .message-content h3{
    overflow: hidden;
} */
.message-card>img {
    flex-basis: 190px;
    max-height: 140px;
}
.trade-info .message-card>img{
    border-radius: 10px;
}
.message-card {
    position: relative;
    margin-bottom: 30px;
    background: #CCE5FF;
    border-radius: 7px;
    padding: 17px 20px 17px 10px;
}
.message-content {
    overflow: hidden;
    margin-left: 35px;
}
.message-content h3 {
    padding-top: 20px;
}
.message-content h3> a{
    text-decoration: underline;
    margin-right: 5px;
    display: inline-block;
}
.sell-wrapper .left-arrow{
    float: left;
}
.chevron-icon a,
.sell-wrapper .left-arrow a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    background: var(--s-blue-color);
    text-align: center;
    align-items: center;
    justify-content: center;
}
.chevron-icon a i,
.sell-wrapper .left-arrow a i {
    color: var(--white);
    font-size: 22px;
}

.sell-wrapper  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.sell-wrapper .sell-content {
    /* overflow: hidden; */
    margin-left: 80px;
}


/* .sell-wrapper .sell-b > p {
    padding:35px 0px;
}  */

.reply-wr > a{
    text-decoration: underline;
    color: var(--s-blue-color);
}
.sell-wrapper  .reply-de p {
    display: inline-block;
    margin-left: 20px;
}
.sell-wrapper .reply-wr {
    border-top: 1px solid #717171;
    border-bottom: 1px solid #717171;
    padding: 15px 0px;
}

.sell-wrapper .comment-wr .card {
    border:none;
    border-radius: 7px;
    border: 2px solid #598DC4;
}
.sell-wrapper .comment-wr .card-header a {
    display: inline-block;
    margin-right: 5px;
}
.sell-wrapper .comment-wr .card .form-control{
    background-color: #fff !important;
    resize: none;
    min-height: 148px;
}
.sell-wrapper .comment-wr .card-header {
    background: #598DC4;
    border-radius: 7px;
    margin: -1px;
}
.sell-wrapper .comment-wr .card-body {
    padding:0;
}
.sell-wrapper .comment-wr .submit-btn{
    background: #007FFF;
    border-radius: 7px;
    padding: 5px 10px;
    margin-top: 20px;
}

/* .sell-wrapper .sell-b p:nth-child(2) {
    border-top: 1px solid #717171;
    border-bottom: 1px solid #717171;
    padding:15px 0px;
}  */
.solved h3{
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #FFDA55;
}
.post-sol {
    display: flex;
    gap: 100px;
    justify-content: center;
}
.success-btn,
.post-btn,
.repost-p>a,
.solved-p>a,
.repost-p > button,
.solved-p > button {
    background: #007FFF;
    border-radius: 7px;
    padding: 6px 20px;
    color: #fff;
    margin-bottom: 12px;
    font-size: 18px;
    display: inline-block;
}
.post-btn {
    padding: 10px 20px;
}
.success-btn{
    padding:10px 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.repost-p>a,
.repost-p>button {
  background: #CCE5FF;
  color: #000000;
}
.glad-to-h{
    text-align: center;
    border-radius: 12px;
    padding:10px 20px 25px;
}

.glad-to-h h2{
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
}

.filter-post .message-card {
    padding: 20px 25px;
}

.filter-post .message-content {
    margin-left: 0px;
}
.filter-post .message-content h3{
    padding-top: 10px;
    padding-bottom: 10px;
}
.filter-h {
    position: relative;
    z-index: 99;
    display: inline-block;
     margin-bottom: 25px;
}
.filter-h .filter-btn {
    position: relative;
    display: inline-block;
    background: #E9E9E9;
    border-radius: 7px;
    min-width: 100px;
    font-size: 17px;
    font-weight: 600;
    padding: 8px 10px;
    text-align: center;
    color: #000000;
   
}

.filter-h .submenu li a {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: var(--text-color);
    display: block;
    margin: 2px 0px;
}
.filter-h .submenu li {
    border-bottom: 2px solid #FFFFFF;
}
.filter-h .submenu li:last-child{
    border-bottom: none;
}
.filter-h:hover .submenu {
    opacity: 1;
    visibility: visible;
}

.filter-h .submenu {
    position: absolute;
    background: #E9E9E9;
    min-width: 100px;
    width: 100%;
    padding: 4px 10px;
    text-align: center;
    top: 44px;
    left: 0%;
     opacity: 0;
     visibility: hidden;
    transition: .3s;
}
.filter-h .submenu::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent #E9E9E9 transparent;
    position: absolute;
    top: -15px;
    left: 40px;
}
.living-info{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: justify;
    color: #000000;
    padding-bottom: 10px;
}
.vill-w-img img{
  display: inline-block;
  border-radius: 7px;
}
.villa-wrapper{
    position: relative;
    width: 95%;
}
.villa-wrapper .chevron-icon {
    display: inline-block;
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
}
.chevron-icon{
    display: inline-block;
}

.living-info .review-icon i{
    margin-right: 10px;
}
.living-info .review-icon i.star-df {
    color: #DFDFDF
}

.allpost .filter-h .filter-btn {
    min-width: 90px;
    font-size: 16px;
    padding: 3px 6px;
    margin-left: 10px;

}
.congratulations-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.file-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.flex-1{
    flex: 1;
}
.flex-wc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 140px;
    height: 100%;
    width: 100%;

}
.flex-c {
    height: 100%;
     width: 100%;
    display: flex;
    flex-direction: column;
}


.header-area .menu .h-icon:hover {
    background: var(--s-blue-color);
}

.header-area .menu.h-icon:hover {
    background: var(--s-blue-color);
}

.header-area .menu .h-icon {
    height: 53px;
    width: 53px;
    line-height: 53px;
    border-radius: 50%;
    display: flex;
    background: var(--ligt-blue-color);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header-area .menu .h-icon i {
    color: var(--white);
    font-size: 22px;
}



.menu li {
    display: inline-block;
    margin-right: 40px;
    position: relative;
    z-index: 100;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    font-weight: 700;
    font-size: 18px;
    color: var(--text-color);
    padding: 0px;
    position: relative;
    transition: all 0.2s ease-in-out 0s;
}

.header-area .menu li a.active,
.header-area .menu li a:focus,
.header-area .menu li a:hover,
.header-area a:hover {
    color: var(--s-blue-color);
}


.menu li > ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    background: #E9E9E9;
    max-width: 170px;
    width:170px;
    padding: 10px 15px;
    text-align: center;
    position: absolute;
    left: -50px;
    z-index: 99;
    transform: translate(0, 20px);
    transition: all 0.2s ease-out;
}

.menu li > ul:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
}

.menu li ul li {
    display: block;
    float: none;
    background: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    font-size: 13px;
    font-weight: 500;
    color: var(--text-color);
    display: block;
    border-bottom: 2px solid #FFFFFF;
    padding: 7px 0px;
}

.menu ul li:last-child a {
    border-bottom: none;
}

/* .menu ul li a:hover,
.menu ul li:hover>a {
    background: #9ca3da;
    color: #fff;
} */

.menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
}
.header-area .navbar-brand>img {
    max-width: 200px;
}


.header-area .dropdown .dropdown-toggle::after {
    display: none;
}

.header-area .dropdown .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
}

.header-area .navbar-nav .h-icon.active,
.nav-pills button.active {
    color: #fff !important;
    background: var(--s-blue-color) !important;
}
.appartment-slider{
    position: relative;
}
.appartment-slider.owl-carousel .owl-item img {
    max-width: 100%;
    width: auto;
}


.appartment-slider.owl-theme .owl-nav [class*=owl-] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    background: var(--s-blue-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--white);
    font-size: 22px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.appartment-slider  .owl-nav button.owl-next {
    right: -11%;
}

.appartment-slider  .owl-nav button.owl-prev {
    left: -11%;
}
.appartment-slider.owl-theme .owl-nav .disabled {
    opacity: .0;
    cursor: default;
}

.richText .richText-toolbar {
    border-bottom: none;
}
.richText .richText-toolbar:last-child {
    font-size: 12px;
    display: none;
}
.richText .richText-editor:focus {
    border-left: none;
}
.richText .richText-toolbar ul li a {

    border-right:none;
}
.richText .richText-toolbar {
    background: #598DC4;
}
.richText {
    background-color: #fff;
    border: 2px solid #598DC4 ;
    color: #000;
    border-radius: 7px;
}
.richText a.richText-btn span {
    color: #fff;
    font-size: 16px;
}
.richText .richText-toolbar ul li a:hover {
    background-color: transparent;
}
.richText .richText-editor {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Montserrat',sans-serif;
    overflow: auto;
}
.richText .richText-toolbar ul li a {
    padding: 7px 10px;
}